@keyframes spin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-8px);
    }
}

.mascot{
    animation:float 3s ease infinite;
}

.learning-card{
    animation:fadeUp .5s ease;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(25px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.correct-animation{
    animation:successPulse .4s ease;
}

@keyframes successPulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.03);
    }
    100%{
        transform:scale(1);
    }
}